:root { font: 20px/1.2 "Roboto", sans-serif; } /* or html */

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
    text-decoration: unset;
    background-color: lightgreen;
}

h2 {
    font-family: 'Signika Negative';
}

#ground {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  } 

  button {
      order: 1
  }

  div{
    position: relative;
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    background-color: green;
    border-style: groove;
  }